@tailwind base;
@tailwind components;
@tailwind utilities;

    ::selection {
        background: rgb(246, 156, 91);
    }

    .dark ::selection {
        background: rgb(159, 8, 71);
    }

    ::-moz-selection {
        background: rgb(246, 156, 91);
    }

    .dark ::-moz-selection {
        background: rgb(159, 8, 71);
    }

    .dark .toc a:hover {
        @apply text-orange-300;
    }

    .toc a:hover {
        @apply text-blue-500
    }