<!DOCTYPE html>
<html lang="en" class="dark">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{ title }}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
        <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&display=swap" rel="stylesheet"/>
        <link rel="icon" href="/assets/parallelized-small.svg" type="image/svg+xml"/>
        <script>
            if (!localStorage.getItem("theme")) {
                localStorage.setItem("theme", "dark");
            }
        </script>
        {% set css %}
        {% include "src/styles/index.css" %}
        {% endset %}
        <style>
            {{css | postcss | safe}}</style>
    </head>
    <body class="font-mono dark:bg-gray-900 transition-colors duration-500">
        <div class="w-[100dvw] flex justify-items-center items-center flex-col p-8">
            <a
                class="text-white invert dark:invert-0 mb-8 underline underline-offset-2 transition-colors duration-200
                    hover:text-orange-500"
                href="/">
                return to home</a>
            <div class="text-4xl font-medium text-white invert dark:invert-0 flex flex-col sm:flex-row justify-center items-center w-full">
                <span class="mr-2">so why</span>
                <img src="/assets/parallelized-svg1.1.svg" class="w-[300px]"/></div>
            <span class="font-light text-white invert dark:invert-0 mt-4 mb-8 italic">There's some backstory...</span>
            <div class="w-[90%] max-w-[800px] prose dark:prose-invert transition-colors duration-500 flex flex-col">
                {{ content | safe }}
            </div>
        </div>
    </body>
    <script src="/scripts/toggle_theme.js"></script>
</html>