---
title: "|parallelized|"
layout: "layouts/index-layout.njk"
---

<div class="w-[100dvw] h-[87dvh] flex flex-col justify-center items-center">
  <div class="flex flex-row items-center justify-center print:hidden">
    <span class="font-mono mr-4">toggle theme</span>
    <input type="checkbox" id="switch" class="theme-toggle"/>
    <label for="switch">Toggle</label>
  </div>
  <!-- <img src="/assets/parallelized-svg1.1.svg" width="1280" height="217" class="w-[90%] sm:w-[40%] invert
  dark:noprint:invert-0 h-auto mb-8" alt="Themed parallellized logo"/> -->
  <div class="text-black dark:text-white text-[min(11vw,4.5rem)] text-center font-medium mb-[3.5vh] mt-[2.5vh] duration-500">
    <span class="inline">|parallelized|</span>
  </div>
  {# <div class="mb-8">shriteq 2023</div> #}
  <div class="w-[90%] sm:w-[40%] flex justify-items-center justify-evenly items-center">
    <a
      href="/what-and-why"
      class="no-underline px-4 py-2 bg-[#69f269] text-center w-[140px] dark:bg-[#ec6868] transition-all duration-500
        hover:scale-105 hover:saturate-150 hover:-translate-y-2 justify-self-start">
      what/why</a>
    <a
      href="/guidelines"
      class="no-underline px-4 py-2 text-center w-[140px] bg-[#f39cfd] dark:bg-[#ff8a4b] transition-all duration-500
        hover:scale-105 hover:saturate-150 hover:-translate-y-1 justify-self-end">
      guidelines</a>
  </div>
  <footer class="absolute bottom-2 text-center opacity-50">
    parallelized @ shriteq 2023
    <span class="hidden sm:inline">| created with
      <a class="opacity-80" href="https://www.11ty.dev/">11ty</a>
      by varun sahni</span>
  </footer>
</div>
<style>
  input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    background: rgb(255, 255, 255);
    display: block;
    border-radius: 100px;
    position: relative;
  }
  label:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: #000000;
    border-radius: 90px;
    transition: 0.5s;
  }
  input + label {
    transition: background-color 0.2s ease-in-out;
  }
  input:checked + label {
    background-color: #000000;
  }
  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
    background-color: white;
  }
  label:active:after {
    width: 130px;
  }
</style>